# Entorno virtual
venv/
env/

# Archivos de configuración del sistema
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Archivos temporales o de caché
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.DS_Store
*.idea/
*.vscode/

# Archivos estáticos y de medios generados
staticfiles/
media/

# Archivos de migración compilados
*/migrations/__pycache__/

# Archivos de entorno
.env

# Archivos del sistema operativo
Thumbs.db
